{% extends 'backend/back.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block nav_admin %}active{% endblock %}
{% block subnav_user %}active{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>

    {{ include('backend/user/_form.html.twig') }}

{% endblock %}
